.animes{
    background-color: brown;
    height: auto;
    width: auto;
    
}
.h1{
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.all{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: medium;
    color: whitesmoke;
    text-align: center;
}
.images{
    margin-left: 55px;
}
.img{
    border-radius: 500px;
}
.button{
     background-color: red;
     color: blue;
}
.button :hover{
    background-color: purple;
    color: green;
    cursor: crosshair;
    box-shadow: black;
}